.Product__container{
    display: flex;
    flex-direction: column;
    padding: 6px 12px;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgb(0 0 0 / 20%);
    width: 250px;
    box-sizing: border-box;
        margin: 12px;
}
.image__container{
    height: 300px;
}
.meta__container{
    padding-bottom: 12px;
}
.product__small__image{
    width: 100%;
    height: 100%;
    object-fit: contain;   
}
p{
    color:#0F1111;
    font-size: 16px;
    line-height: 24px;
    height: 72px;
    word-break: break-word;
    font-weight: 500;
}
h5{
    font-size: 26px;
    margin-bottom: 12px;
}